<div class="form-group" style="margin-left: 50px;">
  <div class="row">
      <h3><b>Your details</b></h3>
      <p><b>Name:</b> {{userDetails.generalModel.firstName}} {{userDetails.generalModel.lastName}}</p>
      <p><b>Email:</b> {{userDetails.generalModel.email}}</p>
      <p><b>Phone:</b> {{userDetails.generalModel.phone}}</p>
      <p><b>Address:</b> {{userDetails.generalModel.address}}</p>
      <p><b>Profession:</b> {{userDetails.generalModel.profession}}</p>
  </div>
  <div class="form-group">
    <div class="row">
      <div *ngFor="let link of userDetails.socialLinks" class="linkClass">
        <a [attr.href]="link" [attr.class]="getWebName(link)" target="_blank"></a>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <h3><b>Your Education</b></h3>
        <div class="list-wrap">
          <div class="list">
            <div *ngFor="let education of userDetails.educations" class="listElement">
              {{education.educationTitle}} <br>
              {{education.educationType}} / {{education.graduationDate}}
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="row form-group">
    <h3><b>Your jobs</b></h3>
    <div class="list-wrap">
      <div class="list">
        <div *ngFor="let job of userDetails.jobs" class="listElement">
          {{job.jobTitle}} at {{job.companyName}} in {{job.city}} <br>
          From {{job.startDate}} to {{job.endDate}}
        </div>
      </div>
    </div>
  </div>
</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

