<div class="row addButtonRowJobs">
    <div class="col-xs-12">
        <button class="btn btn-primary" id="addButton" type="button" (click)="onAdd()">+</button>
        <h3>Add Jobs</h3>
    </div>
</div>
<span class="help-block" *ngIf="jobsControls.length < 1 && isSubmitted">Please complete at least one jobs form</span>
<div [formGroup]="jobsFormGroup">
    <ng-container formArrayName="jobs">
        <ng-container *ngFor="let jobsForm of jobsControls; let i=index">
            <div class="form-group col-xs-12 sectionForm" [formGroupName]="i">
                <h1 class="borderText">Job form</h1>
                <div class="row">
                    <button class="btn btn-danger pull-right" (click)="onDelete(i)">X</button>
                </div>
                <div class="row">
                    <div class="col-xs-5">
                        <input type="text" class="form-control" placeholder="Job name" formControlName="jobTitle">
                        <span class="help-block" *ngIf="!jobsForm.get('jobTitle').valid && isSubmitted">Please complete the field</span>
                    </div>
                </div>
                <div class="row dateRow">
                    <h5>Start date</h5>
                </div>
                <div formGroupName="dates">
                    <div class="row">
                        <div class="col-xs-7">
                            <input type="date" class="form-control" placeholder="/ /" formControlName="enterDate">
                            <span class="help-block" *ngIf="!jobsForm.get('dates.enterDate').valid && isSubmitted">Please enter a valid date</span>
                        </div>
                        <div class="col-xs-1">
                            <span class="add-on"><em class="glyphicon glyphicon-calendar"></em></span>
                        </div>
                    </div>
                    <div class="row dateRow">
                        <h5>End date</h5>
                    </div>
                    <div class="row">
                        <div class="col-xs-7">
                            <input type="date" class="form-control" placeholder="/ /" formControlName="endDate"
                                   [attr.disabled]="checkBox.checked ? true : null">
                            <span class="help-block" *ngIf="!jobsForm.get('dates.endDate').valid && isSubmitted">Please enter a valid date</span>
                            <span class="help-block" *ngIf="!jobsForm.get('dates').valid
                && isSubmitted
                && jobsForm.get('dates.endDate').valid
                && jobsForm.get('dates.enterDate').valid"
                            >You can't start after end!</span>
                        </div>
                        <div class="col-xs-1">
                            <span class="add-on"><em class="glyphicon glyphicon-calendar"></em></span>
                        </div>
                        <div class="col-xs-3">
                            <input type="checkbox" class="check" formControlName="inPresent"
                                   [attr.disabled]="jobsControls.length-1 !== i ? true : null"
                                   (change)="onChange(i, $event)" #checkBox>
                            <h5 class="inPresent">In present</h5>
                        </div>
                    </div>
                </div>
                <div class="row lastRow">
                    <div class="col-xs-2">
                        <input type="text" class="form-control" placeholder="city" formControlName="city">
                        <span class="help-block" *ngIf="!jobsForm.get('city').valid && isSubmitted">Please complete the field</span>
                    </div>
                    <div class="col-xs-6">
                        <input type="text" class="form-control" placeholder="Company name"
                               formControlName="companyName">
                        <span class="help-block" *ngIf="!jobsForm.get('companyName').valid && isSubmitted">Please complete the field</span>
                    </div>
                </div>
            </div>
        </ng-container>
    </ng-container>
</div>


