<div class="form-group col-xs-12 general" [formGroup]="generalFormGroup">
    <app-general-field [isSubmitted]="isSubmitted" [placeholder]="'First Name'"
                       [errorMessage]="'Please complete the field'"
                       [control]="getControl('firstNameControl')"></app-general-field>
    <app-general-field [isSubmitted]="isSubmitted" [placeholder]="'Last Name'"
                       [errorMessage]="'Please complete the field'"
                       [control]="getControl('lastNameControl')"></app-general-field>
    <app-general-field [isSubmitted]="isSubmitted" [placeholder]="'email'"
                       [errorMessage]="'Please enter a valid mail'"
                       [control]="getControl('emailControl')"></app-general-field>
    <app-general-field [isSubmitted]="isSubmitted" [placeholder]="'Phone (+373 ...)'"
                       [errorMessage]="'Please enter a valid phone number'"
                       [control]="getControl('phoneControl')"></app-general-field>
    <app-general-field [isSubmitted]="isSubmitted" [placeholder]="'Physical Address'"
                       [errorMessage]="'Please complete the field'"
                       [control]="getControl('addressControl')"></app-general-field>
    <app-general-field [isSubmitted]="isSubmitted" [placeholder]="'Profession'"
                       [errorMessage]="'Please complete the field'"
                       [control]="getControl('professionControl')"></app-general-field>
</div>


